// forms (bootstrap)
.form-group{
  margin-bottom: 2em;
}
.form-control{
  background-color: #f8f8f8;
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0;
  box-shadow: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

// nav
.main-nav{
  .navbar-right{
    .nav-user{
      span{
        @media screen and (max-width: $break-iPad) {
          padding-left: 0px;
        }
      }
    }
  }
}
.navbar-nav{
  .open{
    .dropdown-menu{
      @media screen and (max-width: $break-iPad) {
        position: absolute;
        float: left;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
      }
    }
  }
}
.navbar-header{
  float: left;
}
.navbar-collapse{
  width: auto;
  display: block;
  flex: none;
  &.in{
    @media screen and (max-width: $break-iPad) {
      overflow: visible;
    }
  }
}



// box (bootstrap)
.box{
  &-title{
    margin-bottom: 10px;
  }
  &-body{
    a{
      color: $steel;
      &:hover{
        color: $text-color;
      }
    }
  }
}


// card (bootstrap)
.card{
  &-header{
    padding-bottom: 1.25rem !important;
  }
  &-body{
    padding-top: 1.25rem !important;
  }
}

// nav-tabs (bootstrap)
.nav-tabs{
  .nav-link{
    &.active {
      font-weight: bold;
    }
  }
}


// table (bootstrap)
.table{
  th{
    font-weight: bold;
  }
}


// dropdown (bootstrap)
.dropdown-menu{
  .dropdown-item{
    &:hover, &:active{
      color: $steel;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

