// general
html, body {
	font-family: Comfortaa, cursive;
	font-size: 14px;
	line-height: 1.6;
	color: #000;
	background-color: #fff;
}

// main Panel
.panel-default{
  >.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #e6e5e5;
  }
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid #e6e5e5;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-top: 50px;
}

// Buttons

.primary-btn,
.btn-primary {
  background: transparent;
  border: 1px solid transparent;
  color: #fff;
  margin-bottom: 10px;
  padding: 8px 20px;
  line-height: 1.5em;
  text-align:center;
  @include border-radius(3px);
  min-width: 210px;
  font-family: Comfortaa;
  -webkit-appearance: none;
  &:focus, &:hover {
	background: transparent;
	border: 1px solid transparent;
	color: #fff;
	text-decoration: none;
  }
  &.inactiv{
	background: #000;
	color: #fff;
	border-color: #000000;
  }
}

.secondary-btn,
.btn-secondary {
  border: 1px solid transparent;
  color: transparent;
  background: transparent;
  padding: 8px 20px;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-weight: 100;
  text-align:center;
  @include border-radius(3px);
  min-width: 210px;
  font-family: Comfortaa,cursive;
  &:focus, &:hover {
	border: 1px solid transparent;
	color: transparent;
	background: transparent;
	text-decoration: none;
  }
  &.inactiv{
	background: #fff;
	color: #000;
	border-color: #000000;
  }
}

.link-btn-primary{
  color: transparent;
}

.primary-btn, .secondary-btn{
  &.full{
	width: 100%;
  }
}

.small-btn{
  min-width: 150px;
}

// Forms

input{
  @include placeholder-color($gray1);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
a, a:hover, a:active, a:focus {
  outline: 0;
}

input:-internal-autofill-selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #f8f8f8 !important;
}

// float-label inputs
.float-label.form-group {
  position: relative;
  margin-bottom: 2em;
  label {
    position: absolute;
    top: 0;
    padding: 7px 0 0 11px;
    transition: all 200ms;
    opacity: 0.5;
  }
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    opacity: 0;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    opacity: 0;
  }
  input:-moz-placeholder { /* Firefox 18- */
    opacity: 0;
  }
  textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0;
  }
  textarea::-moz-placeholder { /* Firefox 19+ */
    opacity: 0;
  }
  textarea:-ms-input-placeholder { /* IE 10+ */
    opacity: 0;
  }
  textarea:-moz-placeholder { /* Firefox 18- */
    opacity: 0;
  }
  input,
  textarea {
    &:focus,
    &:-webkit-autofill,
    &:not(:placeholder-shown) {
      + label {
        font-size: 90%;
        transform: translate3d(0, -100%, 0);
        opacity: 1;
      }
    }
  }
}

section {
  h1,h2,h3,h4{
	font-weight: bold;
  }
  h4{
	font-size: 20px;
  }
}

// Avatars

.avatar {
  background-image: url(https://admin.desiretec.com/img/frontend/profile-picture/travel-agency.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.avatar-circle {
  border-radius: 50%;
}
.avatar-square {
  border-radius: none;
}
.avatar-size-1 {
  width: 40px;
  height: 40px;
}
.avatar-size-2 {
  width: 30px;
  height: 30px;
}
.avatar-size-3 {
  width: 20px;
  height: 20px;
}
.avatar-size-4 {
  width: 16px;
  height: 16px;
}
.avatar-size-5 {
  width: 14px;
  height: 14px;
}
.avatar-size-6 {
  width: 12px;
  height: 12px;
}

// App Global Styles

#app{
  min-height: 100vh;
  padding-top: 50px;
  .main-container{
	margin-top: 80px;
	margin-bottom: 80px;
  }
  .btn-main{
	width: 100%;
	border: none;
	margin-top: 20px;
  }
}
[v-cloak] {
  display: none !important;
}
.btn{
  padding: 5px 25px;
  @include border-radius(3px);
}
.row-no-padding {
  [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
  }
}

// Pagination
.pagination{
  margin: 50px auto;
  display: block;
  text-align: center;
  .arrow{
	padding: 5px 10px;
	margin: 0 5px;
	@include border-radius(3px);
	color: white !important;
	cursor: pointer;
	&.disabled{
      background: #eee !important;
      cursor: default;
	}
  }
  .pagination-list{
	display: inline-block;
    margin: 0 30px;
    width: auto;
	li{
	  display: inline-block;
	  margin: 0 5px;
	  a{
		cursor: pointer;
        padding: 2px 8px 0;
		&.is-current{
          cursor: default;
          border-radius: 3px;
          display: inline-block;
          min-width: auto;
		  color: #ddd;
		}
	  }
	}
  }
}

// Upload Input File
.fileUpload {
  position: relative;
  overflow: hidden;
  input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
  }
  .btn{
	padding: 7px 10px;
	border: none;
  }
}

// Skeleton
.skeleton:empty {
  margin: auto;
  width: 100%;
  height: 875px; /* change height to see repeat-y behavior */

  background-image:
		  linear-gradient( lightgray 200px, transparent 0 ),
		  linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
		  linear-gradient( lightgray 20px, transparent 0 ),
		  linear-gradient( lightgray 20px, transparent 0 ),
		  linear-gradient( lightgray 20px, transparent 0 ),
		  linear-gradient( lightgray 20px, transparent 0 );

  background-repeat: repeat-y;

  background-size:
		  35% 220px, /* circle */
		  50px 220px, /* highlight */
		  150px 220px,
		  350px 220px,
		  300px 220px,
		  250px 220px;

  background-position:
		  0 0, /* circle */
		  0 0, /* highlight */
		  420px 0,
		  420px 40px,
		  420px 80px,
		  420px 120px;

  animation: shine 1s infinite;
}

@keyframes shine {
  to {
	background-position:
			0 0,
			100% 0, /* move highlight to right */
			420px 0,
			420px 40px,
			420px 80px,
			420px 120px;
  }
}

//content style
.hr{
  hr{
	margin: 40px 0;
  }
}

//footer style
footer{
  height: 60px;
  background:$darkgrey;
}

.confirm-popup .popup-body{
  .primary-btn{
	border:1px solid $orange;
	color:#FFF;
	background: $orange;
	padding: 4px 30px;
	font-weight: 100;
	margin-right: 10px;
  }
  .primary-btn:focus{
	border:1px solid $darkorange;
	background:$darkorange;
  }
  .secondary-btn{
	border:1px solid $orange;
	color:$orange;
	background: transparent;
	padding: 4px 30px;
	font-weight: 100;
  }
  .secondary-btn:focus{
	border:1px solid $darkorange;
	color:$darkorange;
	background:transparent;
  }
}

//mobile style
@media (max-width: 768px){
  .sa-buttons{
	margin: 0 auto;
	display: table !important;
	margin-top: 20px !important;
	.primary-btn{
	  margin-bottom: 10px;
	  display:block;
	}
	.secondary-btn{
	  display:inline-block;
	}
	button{
	  margin-right: 0px !important;
	}
  }
  .sa2-buttons{
	margin: 0 auto;
	display: table !important;
	text-align: center;
	margin-top: 20px !important;
	.primary-btn{
	  margin-bottom: 10px;
	  display:block;
	}
	.secondary-btn{
	  display:inline-block;
	}
	button{
	  margin-right: 0px !important;
	}
  }
  #accordion{
	.panel-title{
	  a{
		padding-left:0px;
		font-size: 12px;
	  }
	}
  }
  .section-data{
	.s3-left-hidden{
	  display: block;
	}
	.s3-left-show{
	  p{
		display: none;
	  }
	  hr{
		display: none;
	  }
	}
  }
  .main-nav{
	.navbar-header{
	  margin: 0;
	  padding: 5px 0;
	  img{
		width: 100px;
		width: 80px;
		height: 40px;
		object-fit: contain;
		padding: 0;
	  }
	}
  }
  .hr{
	padding:0px;
	margin:0 -15px 0 -15px;
	hr{
	  margin: 10px 0 10px 0;
	}
  }
  .hr-mobile{
	display:none;
  }
}

@media (max-width: 991px){
  .section-data{
	#accordion{
	  .panel-title{
		position: relative;
		span{
		  position: absolute;
		  right: 0;
		  top:35%;
		}
	  }
	}
  }
  .bg-bottom{
	.row{
	  margin: 0;
	}
	.col-md-3{
	  margin-bottom: 15px;
	}
	.c-tel{
	  a{
		border: 1px solid #636b6f;
		border-radius: 10px;
		padding: 0px 20px;

	  }
	}
  }
}
.dt-status{ display: none }

// box
.box{
  &-title{
    margin-bottom: 10px;
  }
  &-body{
    a{
      color: $steel;
      &:hover{
        color: $text-color;
      }
    }
  }
}

// caret
.caret{
  color: #000;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

//tooltip
.tooltip {
  width: 90%;
  visibility: hidden;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  opacity: 0;
  transition: opacity 0.5s ease;
  position:absolute;
  bottom:2em;
  left:0;
  z-index: 99;
  word-wrap: break-word;
  text-justify: inter-word;
}
.mousehover{
  cursor: pointer;
  display:block;
  position:absolute;
  top:0;
  width:100%;
  height:2.2em;
}
.mousehover:hover + .tooltip {
  visibility: visible;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.ellipsised{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
