@import "variables";

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1 !important;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-brand {
  img {
    height: 2rem;
  }
}
.navbar-light{
  li{
    padding: 0 15px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      right: 0;
      z-index: 100;
      top: 1px;
      width: 1px;
      height: 80%;
      background: #000;
    }
    &:last-child{
      padding-right:0;
      &:after{
        display:none;
      }
    }
    span{
      display: inline-block;
      padding: 0;
      color: #000000;
    }
  }
}
.dropdown-toggle:after {
  font-family: inherit;
  display: none;
  border: 0;
  vertical-align: middle;
  font-size: .6875rem;
  margin-left: .46875rem;
  line-height: 1;
  position: relative;
  content: "\E9C9";
}
.logged-in-as {
  margin:0;
  border-radius:0;
}
