@import "variables";

.navbar.header {
  padding: 0 15px;
  .navbar-brand {
    padding: 10px 0;
    img {
      height: 2rem;
    }
  }
  .navbar-collapse {
    overflow: inherit !important;
    padding: 5px 25px;
    &.show {
      width: 100%;
      .dropdown-menu {
        position: absolute;
        margin-top: 6px !important;
      }
    }
  }
  .collapsing {
    -webkit-transition: !important none;
    transition: none !important;
    display: none;
  }
  .navbar-toggler {
    margin: 10px 0;
  }
  .nav-item {
    padding: 0 15px;
    position: relative;
    border-right: 1px solid $black;
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    @media(max-width: $break-iPad) {
      border: none;
      text-align: right;
      padding: 7px 0;
    }
    a {
      color: $black;
      &:hover {
        text-decoration: none;
        color: $steel;
      }
      @media(max-width: $break-iPad) {
        float: right;
        font-size: 15px;
        padding: 5px 15px !important;
      }
    }
  }
}
.dropdown {
  .dropdown-toggle {
    &:after {
      font-family: inherit;
      display: none;
      border: 0;
      vertical-align: middle;
      font-size: 0.6875rem;
      margin-left: 0.46875rem;
      line-height: 1;
      position: relative;
      content: "\E9C9";
    }
  }
  .agent-menu-img {
    float: left;
    margin-right: 10px;
  }
  .dropdown-menu {
    top: 30px;
  }
  .dropdown-menu-agent {
    .nav-item {
      border-right: none;
      a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px 0;
      }
      .agent-dropdown-img {
        margin-right: 10px;
      }
    }
  }
}
