// Body
$body-bg: #ffffff;

// Colors
$orange: #F96500;
$darkorange: #bc4700;
$steel: #6897b1;
$gray1: #EEEEEE;
$gray2: #DDDDDD;
$medgray1: #BBBBBB;
$medgray2: #888888;
$darkgrey: #575756;
$darkgrey2: #454545;
$black: #000000;
$white: #ffffff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border-default: 1px solid #ddd;
$border-radius-default: 5px;

// @Media
$break-phone: 480px;
$break-phone-landscape: 640px;
$break-iPad: 768px;
$break-iPad-landscape: 1024px;
$break-hd: 1366px;
$break-fullHd: 1920px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Shadows
$shadow-deep-contrast: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $size $color;
    -moz-box-shadow:inset $top $left $blur $size $color;
    box-shadow:inset $top $left $blur $size $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
  }
}

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: red;

// Typography
$fa-font-path: "~font-awesome/fonts/";
$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Comfortaa', cursive;
//$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #000000;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
    opacity: 0.5;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity: 0.5;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
    opacity: 0.5;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color;
    opacity: 0.5;
  }
}

// Panels
$panel-default-heading-bg: #fff;

// Zindex
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal:             99999999 !default;

// Gradients
.gradient-grey-orange {
  background: -webkit-linear-gradient(top, rgb(181, 198, 207) 0%, rgb(224, 184, 157) 80%, rgb(234, 181, 143) 100%);
  background: -o-linear-gradient(top, rgb(181, 198, 207) 0%, rgb(224, 184, 157) 80%, rgb(234, 181, 143) 100%);
  background: -ms-linear-gradient(top, rgb(181, 198, 207) 0%, rgb(224, 184, 157) 80%, rgb(234, 181, 143) 100%);
  background: -moz-linear-gradient(top, rgb(181, 198, 207) 0%, rgb(224, 184, 157) 80%, rgb(234, 181, 143) 100%);
  background: linear-gradient(to bottom, rgb(181, 198, 207) 0%, rgb(224, 184, 157) 80%, rgb(234, 181, 143) 100%);
}
.gradient-orange-grey {
  background: -webkit-linear-gradient(271deg, rgb(255, 87, 0) 0%, rgb(185, 93, 34) 52%, rgb(103, 87, 76) 93%, rgb(73, 73, 70) 100%);
  background: -o-linear-gradient(271deg, rgb(255, 87, 0) 0%, rgb(185, 93, 34) 52%, rgb(103, 87, 76) 93%, rgb(73, 73, 70) 100%);
  background: -ms-linear-gradient(271deg, rgb(255, 87, 0) 0%, rgb(185, 93, 34) 52%, rgb(103, 87, 76) 93%, rgb(73, 73, 70) 100%);
  background: -moz-linear-gradient(271deg, rgb(255, 87, 0) 0%, rgb(185, 93, 34) 52%, rgb(103, 87, 76) 93%, rgb(73, 73, 70) 100%);
  background: linear-gradient(179deg, rgb(255, 87, 0) 0%, rgb(185, 93, 34) 52%, rgb(103, 87, 76) 93%, rgb(73, 73, 70) 100%);
}
.gradient-orange-green {
  background: -webkit-linear-gradient(bottom, rgb(0, 182, 197) 0%, rgb(37, 160, 138) 31%, rgb(140, 143, 94) 51%, rgb(203, 126, 48) 71%, rgb(255, 108, 0) 92%, rgb(255, 94, 0) 100%);
  background: -o-linear-gradient(bottom, rgb(0, 182, 197) 0%, rgb(37, 160, 138) 31%, rgb(140, 143, 94) 51%, rgb(203, 126, 48) 71%, rgb(255, 108, 0) 92%, rgb(255, 94, 0) 100%);
  background: -ms-linear-gradient(bottom, rgb(0, 182, 197) 0%, rgb(37, 160, 138) 31%, rgb(140, 143, 94) 51%, rgb(203, 126, 48) 71%, rgb(255, 108, 0) 92%, rgb(255, 94, 0) 100%);
  background: -moz-linear-gradient(bottom, rgb(0, 182, 197) 0%, rgb(37, 160, 138) 31%, rgb(140, 143, 94) 51%, rgb(203, 126, 48) 71%, rgb(255, 108, 0) 92%, rgb(255, 94, 0) 100%);
  background: linear-gradient(to top, rgb(0, 182, 197) 0%, rgb(37, 160, 138) 31%, rgb(140, 143, 94) 51%, rgb(203, 126, 48) 71%, rgb(255, 108, 0) 92%, rgb(255, 94, 0) 100%);
}
.gradient-orange-blue {
  background: -webkit-linear-gradient(top, rgb(255, 103, 0) 0%, rgb(210, 122, 66) 41%, rgb(128, 142, 143) 81%, rgb(67, 146, 175) 100%);
  background: -o-linear-gradient(top, rgb(255, 103, 0) 0%, rgb(210, 122, 66) 41%, rgb(128, 142, 143) 81%, rgb(67, 146, 175) 100%);
  background: -ms-linear-gradient(top, rgb(255, 103, 0) 0%, rgb(210, 122, 66) 41%, rgb(128, 142, 143) 81%, rgb(67, 146, 175) 100%);
  background: -moz-linear-gradient(top, rgb(255, 103, 0) 0%, rgb(210, 122, 66) 41%, rgb(128, 142, 143) 81%, rgb(67, 146, 175) 100%);
  background: linear-gradient(to bottom, rgb(255, 103, 0) 0%, rgb(210, 122, 66) 41%, rgb(128, 142, 143) 81%, rgb(67, 146, 175) 100%);
}
.gradient-blue {
  background: -webkit-linear-gradient(top, rgb(0, 181, 197) 0%, rgb(37, 156, 181) 88%, rgb(55, 145, 174) 100%);
  background: -o-linear-gradient(top, rgb(0, 181, 197) 0%, rgb(37, 156, 181) 88%, rgb(55, 145, 174) 100%);
  background: -ms-linear-gradient(top, rgb(0, 181, 197) 0%, rgb(37, 156, 181) 88%, rgb(55, 145, 174) 100%);
  background: -moz-linear-gradient(top, rgb(0, 181, 197) 0%, rgb(37, 156, 181) 88%, rgb(55, 145, 174) 100%);
  background: linear-gradient(to bottom, rgb(0, 181, 197) 0%, rgb(37, 156, 181) 88%, rgb(55, 145, 174) 100%);
}
.gradient-blue-grey {
  background: -webkit-linear-gradient(top, rgb(61, 145, 175) 0%, rgb(84, 112, 121) 61%, rgb(82, 82, 81) 100%);
  background: -o-linear-gradient(top, rgb(61, 145, 175) 0%, rgb(84, 112, 121) 61%, rgb(82, 82, 81) 100%);
  background: -ms-linear-gradient(top, rgb(61, 145, 175) 0%, rgb(84, 112, 121) 61%, rgb(82, 82, 81) 100%);
  background: -moz-linear-gradient(top, rgb(61, 145, 175) 0%, rgb(84, 112, 121) 61%, rgb(82, 82, 81) 100%);
  background: linear-gradient(to bottom, rgb(61, 145, 175) 0%, rgb(84, 112, 121) 61%, rgb(82, 82, 81) 100%);
}
