body.agent{
    .readonly{
        border: none;
        height: 33px;
    }
    .btn {
        padding: 7px;
    }
}

#agents-table{
    img{
        height: 70px;
        width: 70px;
        object-fit: cover;
    }
    th:first-child{
        width:50px !important;
    }

    td:first-child{
        text-align:center;
        padding:8px 8px !important;
    }
    td{
        vertical-align: middle;
    }
}
