@import "variables";

.card-login {
  padding: 2em;
  @media(max-width: $break-iPad) {
    padding: 1em;
  }
  .checkbox {
    label {
      display: flex;
      align-items: center;
      font-size: 13px;
      input {
        margin-right: 5px;
      }
    }
  }
  a {
    color: transparent;
  }
  .btn {
    margin-bottom: 0;
  }
  .link-btn-primary {
    display: inline-block;
    padding: 5px 0;
  }
}
