// Offers Styles
body.offer{
  .box-info{
    .readonly{
      border: none;
      height: 33px;
    }
    .btn{
      padding: 7px;
      color: transparent;
    }
    .form-btns{
      display: flex;
      justify-content: flex-end;
      .btn{
        margin-left: 5px;
      }
    }
  }
  .pagination{
    display: flex !important;
    justify-content: flex-end !important;
    span.page-link{
      cursor: default;
    }
  }
}
