// Offers Styles
body.offer{
  .box-info{
    .edit-form-btn{
      text-align: right;
      padding: 0 15px;
    }
    .readonly{
      border: none;
      height: 33px;
    }
    .primary-btn, .secondary-btn{
      display: inline-block;
    }
  }
}